@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
    background: rgb(9, 95, 165); 
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 275px;
    max-width: 200;
    color: #fff;
}

a {
    font-size: 30px;
    position: fixed; top: 50%;
    font-family: "Noto Sans TC", sans-serif;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 600;
}

.h1 {
    text-shadow: 0px 3px 0px #b2a98f,
        0px 8px 10px rgba(0,0,0,0.15),
        0px 18px 2px rgba(0,0,0,0.1),
        0px 28px 30px rgba(0,0,0,0.1);
    font-size: 50px;
    position: fixed; top: 150px;
}

.NyanCat {
    max-width: 100%;
    height: auto;
}

body.desktop .NyanCat {
    min-height: 500px;
    position: absolute;
    top: 100px;
    right: 200px;
}

body.tablet .NyanCat {
    max-height: 100px;
    position: absolute;
    top: 75px;
    right: 100px;
}

/* 手機設備樣式 */
body.mobile .NyanCat {
    max-height: none;
    position: static;
    display: block;
    margin: 20px auto;
}